@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.book {
    font-family: VT323;
    height: 375px;
    background-repeat: no-repeat;
    position: relative;
}
md-input {
    position: absolute;
    left:50%;
    top:50%;
}
body {
    overflow: hidden;
}